.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 250px);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  input {
    font-size: 18px;
    max-width: 450px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .06);
    color: #717171;
    font-weight: 500;
  }

  .submit {
    cursor: pointer;
    background-color: #ff574d;
    color: #fff;
    border: none;
    width: 250px;
  }
}