.nav-tab {

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    a {
      padding: 10px;
      background-color: #eee;
      text-decoration: none;
      border: 1px solid #000;
      font-size: 18px;
    }

    li.active {
      a {
        background-color: #cfe2f3;
      }
    }
  }
}