// Border-radius mixin
@mixin round($angle: 10px) {
  border-radius: $angle + px;
}

// Triangle mixin
@mixin triangle($direction: top) {
  position: relative;

  @if $direction == bottom {

    &:after {
      content: ''; 
      position: absolute;
      left: 50%;
      bottom: -40px;
      border: 15px solid transparent;
      border-top: 25px solid #ae35ff;
    }

  } @else if $direction == left {

    &:after {
      content: '';
      border: 15px solid transparent;
      border-right: 25px solid #ae35ff;
      border-left: 0;
      position: absolute;
      left: -25px;
      top: 50%;
    }
  } @else if $direction == right {

    &:after {
      content: '';
      border: 15px solid transparent;
      border-right: 0;
      border-left: 25px solid #ae35ff;
      position: absolute;
      right: -25px;
      top: 50%;
    }
  } @else {

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: -40px;
      border: 15px solid transparent;
      border-bottom: 25px solid #ae35ff;
    }
  }
}

// Width mixin
@for $i from 1 through 10 {
  .width#{$i} {
    width: 10% * $i;
  }
}

//Random Background color
@for $nth from 1 through 20 {
  li:nth-child(#{$nth}) {
    background: hsl($nth * 10, 50%, 50%);
  }
}

