@import '../../variables.scss';
.main {
  height: 500px;
  background-color: $main_color;
  border: $global_border;
  margin: 20px 0;
  display: flex;
  text-align: center;
}

.aside {
  background-color: $second_color;
  border: 1px solid #000;
  width: 25%;
  margin: 40px 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-content {
  width: 70%;
  background-color: $second_color;
  margin: 80px 20px 40px;
  border: 1px solid #000;
}