.nav {
  display: flex;
  background-color: #cfe2f3;
  border: 1px solid #000;
  height: 60px;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;

  li {
    list-style: none;
    margin: 0 10px;
    font-size: 22px;
  }
}