@import '../../variables.scss';
.footer {
  background-color: $main_color;
  height: 80px;
  border: $global_border;
  text-align: center;
  padding: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
}