.to-do-list {
  padding: 20px;
  text-align: left;
  background-color: #eee;
  text-decoration: none;
  border: 1px solid #000;
  font-size: 18px;

  ul {
    padding: 10px;
    list-style-type: decimal;
  }

  .add-task {
    font-size: 16px;
    font-weight: 600;
  }

  li {
    b {
      margin-right: 10px;
    }

    span {
      font-weight: 700;
      font-size: 20px;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .title {
    font-size: 28px;
    text-align: left;
  }

  .completed {
    text-decoration: line-through;
    color: #666;
  }
}